//   Pumpkin Spice - A simplistic language for interactive text applications
//   Test build
//   Copyright © 2020 Nicholas Nassar
//   All Rights Reserved

function runPumpkinSpiceTests(inputTextElementParam, inputSubmitElementParam, inputFormElementParam, cursorElementParam, quietBlockElementParam, historyBlockElementParam, latestBlockElementParam, displayBlockElementParam){

{{legacy.js}}
{{global-utilities.js}}

{{display.js}}

  var display = Display(inputFormElementParam, inputTextElementParam, inputSubmitElementParam, cursorElementParam, quietBlockElementParam, historyBlockElementParam, latestBlockElementParam, displayBlockElementParam);

  display.print("TESTING\n");
  display.sendUpdates();
}
{{initialize-tests.js}}