//   Pumpkin Spice - A simplistic language for interactive text applications
//   Test build
//   Copyright © 2020 Nicholas Nassar
//   All Rights Reserved

function runPumpkinSpiceTests(inputTextElementParam, inputSubmitElementParam, inputFormElementParam, cursorElementParam, quietBlockElementParam, historyBlockElementParam, latestBlockElementParam, displayBlockElementParam){

{{legacy.js}}
{{global_utilities.js}}
{{display.js}}
{{base_tester.js}}
{{matching_tester.js}}
{{simple_call_logger.js}}

{{parser_tests.js.template}}
{{type_manager_tests.js.template}}
{{type_generator_pass_tests.js.template}}
{{testing_logger.js}}

  var successCount = 0;
  var errorCount = 0;

  var display = Display(inputFormElementParam, inputTextElementParam, inputSubmitElementParam, cursorElementParam, quietBlockElementParam, historyBlockElementParam, latestBlockElementParam, displayBlockElementParam);
  display.print("TESTING...\n");
  display.sendUpdates();

  var testSuites = [
    ParserTests(display),
    TypeManagerTests(display),
    TypeGeneratorPassTests(display)
  ];

  for (var i=0;i<testSuites.length;i++) {
    var testSuite = testSuites[i];
    testSuite.run();
    successCount += testSuite.getSuccessCount();
    errorCount += testSuite.getErrorCount();
  }

  if (errorCount === 0)
    display.setColor(2);
  else
    display.setColor(4);
  display.print((successCount+errorCount)+" tests run\n");
  display.print(errorCount+" errors\n");
  display.setColor(7);
  display.sendUpdates();
}
{{initialize_tests.js}}
